<html>
	<!-- HEAD -->
	<% include ../partials/head %>

  <body>
    <div id="wrapper">

			<!-- HEADER -->
			<% include ../partials/header %>

      <div id="navBar">
        <a class="active" href="/">Home</a>
        <a href="/graphs">Graphs</a>
        <a href="/camera">Camera</a>
      </div>

      <div id="mainContent">
        <div id="subContent">
					<div class="gridWrapper">
						<div class="widgetMain">
							<div class="widgetHeader">
								<div class="text">
									<h2>Sensor Readings</h2>
								</div>
								<div class="image">
									<img src="/temperature.png" />
								</div>
							</div>
							<div class="widgetBody">
								<p class="readings">
			              <h3>Outside Temperature: </h3><%= outsideTemp %>&deg;C<br />
										<h3>Inside Temperature: </h3><%= insideTemp %>&deg;C<br />
										<h3>Inside Humidity: </h3><%= humidity %>%<br /><br />
										<h3>The heat lamp is: </h3><%= heatLamp %><br />
										<h3>The fan is: </h3><%= fan %><br />
			          </p>
							</div>
						</div>

						<div class="widgetMain">
							<div class="widgetHeader">
								<div class="text">
									<h2>Light</h2>
								</div>
								<div class="image">
									<img src="/light.png" />
								</div>
							</div>
							<div class="widgetBody">
								<p>
				           <button type="button" class="button" onclick="ledOn();updateLightStat('On');">On</button>
				           <button type="button" class="button" onclick="ledOff();updateLightStat('Off');">Off</button>
									 <h3>Status: </h3><div id="updateThis"><%= lightStatus %></div>
							  </p>
							</div>
						</div>

						<div class="widgetMain">
							<div class="widgetHeader">
								<div class="text">
									<h2>Door</h2>
								</div>
								<div class="image">
									<img src="/door.png" />
								</div>
							</div>
							<div class="widgetBody">
								<p>
									<button type="button" class="button" onclick="openDoor();">Open</button>
				           <button type="button" class="button" onclick="closeDoor();">Close</button><br />

									 <h3>Status: </h3> <%= doorStatus %><br />

									 <h3>Scheduled opening time: </h3><%= scheduledOpening %><br />
									 <h3>Scheduled closing time: </h3><%= scheduledClosing %>
								 </p>
							</div>
						</div>

						<div class="widgetMain">
							<div class="widgetHeader">
								<div class="text">
									<h2>Feeder</h2>
								</div>
								<div class="image">
									<img src="/seed.png" />
								</div>
							</div>
							<div class="widgetBody">
								<p>Click to feed the chickens.<br />
									<button type="button" class="button" onclick="feed();">Feed</button>
								</p>
							</div>
						</div>

						<div class="widgetMain">
							<div class="widgetHeader">
								<div class="text">
									<h2>Sunrise and Sunset</h2>
								</div>
								<div class="image">
									<img src="/sun.png" />
								</div>
							</div>
							<div class="widgetBody">
								<p>
				          	<h3>Sunrise Time Today: </h3><%= sunrise %> AM<br /><br />
										<h3>Sunset Time Today: </h3> <%= sunset %> PM<br />
			          </p>
							</div>
						</div>


        </div>
      </div>
		</div>
      <% include ../partials/footer %>

    </div>
  </body>
</html>
