
<html>
	<!-- HEAD -->
	<% include ../partials/head %>

  <body>
    <div id="wrapper">

			<!-- HEADER -->
			<% include ../partials/header %>

      <div id="navBar">
        <a class="active" href="/">Home</a>
        <a href="/graphs">Graphs</a>
        <a href="/camera">Camera</a>
      </div>

      <div id="mainContent">
        <div id="subContent">
          <h2>Sensor Readings</h2>
          <p class="readings">
                The outside temperature is <%= outsideTemp %><br />
								The inside temperature is <%= insideTemp %><br />
								The humidity is <%= humidity %><br />

            <a href="/graphs">Click here to see the historical values on a graph.</a>
          </p>

          <h2>Sunrise and Sunset Times</h2>
          <p>

          	The sunrise time today is: <%= sunrise %> AM<br />
						The sunset time today is: <%= sunset %> PM<br />

          </p>

          <h2>Control</h2>

          <p>Click to turn LED on and off.<br />
            <button type="button" onclick="ledOn();">On</button>
            <button type="button" onclick="ledOff();">Off</button>
          </p>


          <p>Click to open/close door.<br />
            <button type="button" onclick="openDoor();">Open</button>
            <button type="button" onclick="closeDoor();">Close</button>
          </p>

        </div>
      </div>

      <% include ../partials/footer %>

    </div>
  </body>
</html>
